<div class="container">
  <h2>Current User: {{currentUser}}</h2>
  <div class="row">
      <div class="large-12 medium-12 small-12 columns">
        <div class="large-12 medium-12 small-12 columns">
        <h1 id="cthulu">Cthulu</h1>
        <p id="cthulu">
          A MEAN stack Single Page Application Template for all your needs.
        </p>
      </div>
      <div class="large-3 small-3 medium-3 columns">
        <br>
        <br>
        <ul>
          <li>MongoDb</li>
          <li>AngularJs</li>
          <li>ExpressJs</li>
          <li>Node.js</li>
          <li>PassportJs</li>
          <li>Mongoose</li>
          <li>Zurb Foundation</li>
          <li>Gulp</li>
          <li>SCSS</li>
          <li>Angular ui-router</li>
          <li>ejs</li>
          <li>SweetAlerts</li>
        </ul>
      </div>
      <div class="large-6 large-centered small-6 small-centered columns">
        <div style="text-align: center">
          <img src="images/cthulu.jpg" class="cthulu" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <br>
      <p>
        Passport for Authentication, Zurb foundation and SCSS for styling.
        Ready to go, right out of the box.
      </p>
      <p>
        run "gulp" in your terminal to compile SCSS into CSS. Gulp will watch for changes in style.scss and compile for you from there.
      </p>
    </div>
  </div>
</div>
