<div class="container">
  <div class="row">
      <div class="large-12 medium-12 small-12 columns">
        <div class="large-12 medium-12 small-12 columns">
        <h1 id="cthulu">Cthulu</h1>
        <h3 id="mindstone" ng-show="currentUser">The Great One has led you to your profile, {{currentUser.username}}</h3>
    </div>
    <div class="row">
      <div class="large-12 medium-12 small-12 columns">
        <h3 id="mindstone">Email: {{currentUser.email}}</h3>
      </div>
    </div>
  </div>
</div>
