<div class="container">
  <div class="row">
      <div class="large-12 medium-12 small-12 columns">
        <div class="large-12 medium-12 small-12 columns">
        <h1 id="cthulu">Cthulu</h1>
        <h3 id="mindstone" ng-show="currentUser">The Great One has led you to state# {{whichState}}, {{currentUser.username}}</h3>
        <p>They are all the same .ejs doc, so see what you can do with state.params, if you wish</p>
    </div>
  </div>
</div>
