h1 {
  color: green;
  h2 {
    color: red;
  }
  li {
    color: black;
  }
}
#cthulu {
  text-align: center;
}

.cthulu {
  height: 402px;
}

p {
  text-align: center;
}

footer {
  color: black;
}
